<?xml version="1.0" encoding="UTF-8" ?>
<!--code by yuan-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbt.dao.MusicDao">
    <!--<resultMap id="music" type="com.bbt.model.Music">-->
        <!--<id column="id" property="id"/>-->
        <!--<result column="title" property="title"/>-->
        <!--<result column="author" property="author"/>-->
        <!--<result column="url" property="url"/>-->
        <!--<result column="pic" property="pic"/>-->
    <!--</resultMap>-->

    <!--<select id="getAllMusic" resultMap="music">-->
        <!--SELECT * FROM `music`-->
    <!--</select>-->
    
    <resultMap id="music" type="com.bbt.model.Music">
        <id property="id" column="music_id"/>
        <result property="musicName" column="music_name"/>
        <result property="musicUrl" column="music_url"/>
        <result property="picUrl" column="pic_url"/>
        <association property="artist" javaType="com.bbt.model.Artist" resultMap="artist"/>
    </resultMap>

    <resultMap id="artist" type="com.bbt.model.Artist">
        <id property="id" column="artists_id"/>
        <result property="name" column="artists_name"/>
        <result property="sex" column="artists_sex"/>
    </resultMap>

    <select id="getAllMusic" resultMap="music">
        SELECT music_id,music_name,music_url,pic_url,music.artists_id,artists_name,artists_sex
        FROM music LEFT JOIN artists ON music.artists_id=artists.artists_id
        limit #{offset},#{size}
    </select>

    <select id="selectMusicByName" resultMap="music">
        SELECT music_id,music_name,music_url,pic_url,music.artists_id,artists_name,artists_sex
        FROM music LEFT JOIN artists ON music.artists_id=artists.artists_id WHERE music_name LIKE #{musicName}
        limit #{offset},#{size}
    </select>

</mapper>